.flex-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
}

img {
    width: 70px;
    height: 70px;
}